<PluginDeployer>
  <Connections>
    <Connection>
      <Name>http://cobalt3xdev16.cobalt.net/</Name>
      <OrgId>9b424c3f-c181-e611-80cf-00155d030201</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly9jb2JhbHQzeGRldjE2LmNvYmFsdC5uZXQvSVFERVYvO0RvbWFpbj1jb2JhbHQubmV0O1VzZXJuYW1lPWNybWRldkBjb2JhbHQubmV0O1Bhc3N3b3JkPSd3ZXpsLmNoMzN6bCc7</ConnectionString>
      <Version>8.1.0.359</Version>
    </Connection>
  </Connections>
  <Assemblies>
    <Assembly>
      <OrgId>9b424c3f-c181-e611-80cf-00155d030201</OrgId>
      <ProjectName>Cobalt.Components.CrmIQ.Plugins</ProjectName>
      <AssemblyId>047401fe-6e01-4dc2-b303-81316c3896b4</AssemblyId>
    </Assembly>
  </Assemblies>
</PluginDeployer>