<PluginDeployer>
  <Connections>
    <Connection>
      <Name>http://cobalt3xdev16.cobalt.net/</Name>
      <OrgId>9b424c3f-c181-e611-80cf-00155d030201</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly9jb2JhbHQzeGRldjE2LmNvYmFsdC5uZXQvSVFERVYvO0RvbWFpbj1jb2JhbHQubmV0O1VzZXJuYW1lPWNybWRldkBjb2JhbHQubmV0O1Bhc3N3b3JkPSd3ZXpsLmNoMzN6bCc7</ConnectionString>
      <Version>8.1.0.359</Version>
    </Connection>
    <Connection>
      <Name>http://cobaltdev13.cobalt.net/IQDEV</Name>
      <OrgId>d0a17bf3-c79a-e611-80d0-00155d01140a</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly9jb2JhbHRkZXYxMy5jb2JhbHQubmV0L0lRREVWO1VzZXJuYW1lPWNybWRldkBjb2JhbHQubmV0O1Bhc3N3b3JkPSd3ZXpsLmNoMzN6bCc7</ConnectionString>
      <Version>6.1.4.145</Version>
    </Connection>
    <Connection>
      <Name>http://cobaltdev15.cobalt.net/IQDEV/</Name>
      <OrgId>95090afc-c79a-e611-80ce-00155d01140b</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly9jb2JhbHRkZXYxNS5jb2JhbHQubmV0L0lRREVWLztVc2VybmFtZT1jcm1kZXZAY29iYWx0Lm5ldDtQYXNzd29yZD0nd2V6bC5jaDMzemwnOw==</ConnectionString>
      <Version>7.0.2.53</Version>
    </Connection>
  </Connections>
  <Assemblies>
    <Assembly>
      <OrgId>9b424c3f-c181-e611-80cf-00155d030201</OrgId>
      <ProjectName>Cobalt.Components.CrmIQ.Plugins</ProjectName>
      <AssemblyId>047401fe-6e01-4dc2-b303-81316c3896b4</AssemblyId>
    </Assembly>
    <Assembly>
      <OrgId>d0a17bf3-c79a-e611-80d0-00155d01140a</OrgId>
      <ProjectName>Cobalt.Components.CrmIQ.Plugins</ProjectName>
      <AssemblyId>047401fe-6e01-4dc2-b303-81316c3896b4</AssemblyId>
    </Assembly>
    <Assembly>
      <OrgId>95090afc-c79a-e611-80ce-00155d01140b</OrgId>
      <ProjectName>Cobalt.Components.CrmIQ.Plugins</ProjectName>
      <AssemblyId>047401fe-6e01-4dc2-b303-81316c3896b4</AssemblyId>
    </Assembly>
  </Assemblies>
</PluginDeployer>